// Place all the styles related to the temperature controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Temperatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$body-width: 960px;
$body-background-color: #000;
$body-copy-color: #222;

body {
  background-color: $body-background-color;
  color: $body-copy-color;
  margin: 0 auto;
  width: $body-width;
}
