<h1>AgriPODZ<h1>

<p><%= link_to "Temperature Readings", temperature_readings_path %></p>
<p><%= link_to "Humidity Readings", humidity_readings_path %></p>

<p><%= link_to "Help", static_pages_help_path %></p>
