<%= form_for(@humidity) do |f| %>
  <% if @humidity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@humidity.errors.count, "error") %> prohibited this humidity from being saved:</h2>

      <ul>
      <% @humidity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
